.PhoebeLogo {
  display: block;
  margin: auto;
  width: 136px; /* allows auto-centering */
  height: 260px;
  box-sizing: border-box;
}

.PhoebeLogoSpinner {
  display: block;
  margin: auto;
  width: 136px; /* allows auto-centering */
  height: 260px
}

/* size and position of triangles */
.PLT, .PLTB {
  position: relative;
  height: 75px;
  width: 64.5px;
}

.PLTB {
  pointer-events: none; /* so they don't trigger animation/hover effects */
}

/* right pointing triangles */
.PLT1, .PLT3, .PLT5, .PLT7, .PLTB2, .PLTB4, .PLTB6 {
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

/* left pointing triangles */
.PLT2, .PLT4, .PLT6, .PLT8, .PLTB1, .PLTB3, .PLTB5, .PLTB7 {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

/* colors for triangles */
.PLT {
  background-color: rgba(230, 230, 230, 0.9);
}

.PLT:hover {
  background-color: rgba(230, 230, 230, 1.0);
}

.PLT8 {
  /* initial opacity is 0, after animation will be 0.65 */
  background-color: rgba(230, 230, 230, 0);
}

.PLT8:hover {
  background-color: rgba(230, 230, 230, 0.85);
}

.PLTB {
  background-color: rgba(230, 230, 230, 0.5);
}

.PhoebeLogoBlue .PLT, .PhoebeLogoBlue > .PLT8 {
  background-color: blue !important;
}


/* left offset for columns */
.PLT1, .PLT2, .PLT6, .PLT7, .PLT8 {
  left: 0px;
}

.PLT3, .PLT4, .PLT5 {
  left: 70px;
}

.PLTB1, .PLTB2, .PLTB6, .PLTB7 {
  left: -70px;
}

.PLTB3, .PLTB4, .PLTB5 {
  left: -140px;
}


/* top offset for rows (note these are weird because of relative positioning)*/
.PLT1 {
  top: 45px;
}

.PLT2 {
  top: -75px;
}

.PLT3 {
  top: -150px;
}

.PLT4 {
  top: -180px;
}

.PLT5 {
  top: -210px;
}

.PLT6 {
  top: -285px;
}

.PLT7 {
  top: -315px;
}

.PLT8 {
  top: -345px;
}

.PLTB1 {
  top: -380px;
}

.PLTB2 {
  top: -410px;
}

.PLTB3 {
  top: -485px;
}

.PLTB4 {
  top: -515px;
}

.PLTB5 {
  top: -545px;
}

.PLTB6 {
  top: -620px;
}

.PLTB7 {
  top: -740px;
}



/* handle different animation types */
.PLTB {
  animation: pltbfadeout 1 ease-out forwards;
  animation-duration: 800ms;
}

.TransitionIn > .PLTB {
  animation-duration: 1200ms;
}

.TransitionIn > .PLTB5 {
  animation-delay: 1600ms;
}

.TransitionIn > .PLTB4, .TransitionIn > .PLTB6 {
  animation-delay: 2200ms;
}

.TransitionIn > .PLTB3, .TransitionIn > .PLTB7 {
  animation-delay: 2800ms;
}

.TransitionIn > .PLTB2 {
  animation-delay: 3400ms;
}

.TransitionIn > .PLTB1 {
  animation-delay: 4000ms;
}

.PLT8 {
  animation: plt8fadein 1 ease-in forwards;
  animation-duration: 1800ms
}

.TransitionIn > .PLT8 {
  animation-duration: 2000ms;
  animation-delay: 5200ms;
}


.tmpshow {
  animation: pltbfadein 600ms 1 ease-in forwards;
}

.tmphide {
  animation: pltbfadeout 600ms 1 ease-in forwards;
}

@keyframes pltbfadein {
  0% {
    background-color: rgba(230, 230, 230, 0.0);
  } 100% {
    background-color: rgba(230, 230, 230, 0.5);
  }
}

@keyframes pltbfadeout {
  0% {
    background-color: rgba(230, 230, 230, 0.5);
  } 100% {
    background-color: rgba(230, 230, 230, 0.0);
  }
}

@keyframes plt8fadein {
  0% {
    background-color: rgba(230, 230, 230, 0.0);
  } 100% {
    background-color: rgba(230, 230, 230, 0.65);
  }
}

@keyframes plt8fadeout {
  0% {
    background-color: rgba(230, 230, 230, 0.65);
  } 100% {
    background-color: rgba(230, 230, 230, 0.0);
  }
}

.AnimateFade > .PLT1, .AnimateFade > .PLT2, .AnimateFade > .PLT3, .AnimateFade > .PLT4, .AnimateFade > .PLT5, .AnimateFade > .PLT6 {
  animation: spinnerfade 1200ms infinite ease-in-out;
}

@keyframes spinnerfade {
  0%,
  80%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0.05;
  }
}


/* handle spinner delays */
.AnimateSpinner > .PLT1 {
  animation-delay: 0ms;
}

.AnimateSpinner > .PLT2 {
  animation-delay: 200ms;
}

.AnimateSpinner > .PLT3 {
  animation-delay: 400ms;
}

.AnimateSpinner > .PLT4 {
  animation-delay: 600ms;
}

.AnimateSpinner > .PLT5 {
  animation-delay: 800ms;
}

.AnimateSpinner > .PLT6 {
  animation-delay: 1000ms;
}

/* ignore hover effects on spinner */
.AnimateSpinner > .PLTB {
  opacity: 0
}

.AnimateSpinner > .PLT8 {
  animation: none !important;
  background-color: rgba(230, 230, 230, 0.65);
}

@media screen and (min-width: 1600px) {
  /* CSS TO APPLY FOR XL WIDTH */
  .PhoebeLogo {
    zoom: 1.1
  }
}

@media screen and (max-width: 1200px){
  /* CSS TO APPLY FOR MEDIUM WIDTH */
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 0.8;
  }
}

@media screen and (max-width: 1000px){
  /* CSS TO APPLY FOR SMALL WIDTH */
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 0.75;
  }
}

@media screen and (max-width: 767px){
  /* CSS TO APPLY FOR XS WIDTH (MOBILE) */
  .PhoebeLogo, .PhoebeLogoSpinner {
    zoom: 0.7;
  }
}
